<h1 id="title" class="title">Login</h1>
<p class="sub-title">{{ 't_login.loginInfo' | translate }}</p>

<nb-alert *ngIf="showMessages.error && errors?.length && !submitted" outline="danger" role="alert">
  <p class="alert-title">
    <b>{{ '_global.error' | translate }}</b>
  </p>
  <ul class="alert-message-list">
    <li *ngFor="let error of errors" class="alert-message">{{ 't_login.loginErrorMessage' | translate }}</li>
  </ul>
</nb-alert>

<div [formGroup]="loginForm" aria-labelledby="title">
  <div class="form-control-group">
    <input
      nbInput
      fullWidth
      id="input-email"
      formControlName="email"
      [status]="email.dirty ? (email.invalid ? 'danger' : 'success') : ''"
      [attr.aria-invalid]="email.invalid && email.touched ? true : null"
      placeholder="{{ 'formFields.email' | translate }}"
    />
    <ngx-validation-message
      label="Email address"
      [showPattern]="email?.hasError('pattern') && email.touched"
      [showRequired]="email?.errors?.required && email.touched"
    ></ngx-validation-message>
  </div>

  <div class="form-control-group">
    <span class="label-with-link">
      <a class="forgot-password caption-2" routerLink="../request-password">{{ 't_login.forgotPassword' | translate }}?</a>
    </span>
    <input
      nbInput
      fullWidth
      id="input-password"
      formControlName="password"
      type="password"
      [status]="password.dirty ? (password.invalid ? 'danger' : 'success') : ''"
      placeholder="Password"
    />
    <ngx-validation-message
      label="Password"
      [showMinLength]="password?.hasError('minlength') && password.touched"
      [showMaxLength]="password?.hasError('maxlength') && password.touched"
      [showRequired]="password?.errors?.required && password.touched"
      [minLength]="minLength"
      [maxLength]="maxLength"
    ></ngx-validation-message>
  </div>

  <div class="form-control-group accept-group">
    <nb-checkbox formControlName="rememberMe" name="rememberMe" *ngIf="rememberMe">{{ 't_login.rememberMe' | translate }}</nb-checkbox>
  </div>

  <button nbButton fullWidth status="primary" size="large" (click)="login()" [disabled]="submitted || !loginForm.valid" [class.btn-pulse]="submitted">
    {{ 't_login.LogIn' | translate }}
  </button>
  <button nbButton fullWidth status="primary" size="large" (click)="loginToDemonstrativeVersion()" class="mt-2">Zaloguj - wersja rekrutacyjna</button>
</div>

<section class="another-action" aria-label="Register">
  {{ 't_login.dontHaveAccount' | translate }} <a class="text-link" routerLink="../register">{{ 't_login.register' | translate }}</a>
</section>
