$color_primary: #0056ad;
$color_blue_2: #0066cc;
$color_blue_3: #007ed9;
$color_blue_4: #6dabe0;
// niebieskie z Adobe XD
$blue_1: #6ec1e4;
$blue_2: #2485c6;
$blue_3: #1769b1;

$color_red_500: #e42020; // to z cmax, do przemyślenia
$color_red_primeng_error: #f44336;

$color_gray_light_1: #f5f6fa;
$color_gray_light_2: #e9ecef;
$color_gray_light_3: #b5bcd5;
$color_gray_light_4: #56565b;
$color_gray_light_5: #242424;

$font_color_primary: $color_gray_light_4;
$font_color_secondary: $color_gray_light_5;
$font_color_blue: $color_blue_2;
$font_color_disabled: $color_gray_light_3;

$background_container_color: $color_gray_light_1;
$icon_color_gray: $color_gray_light_3;

$hover_color: $color_blue_2;
