<div class="row mb-3">
  <h4>{{ 't_user-password-change.changePassword' | translate }}</h4>
</div>

<!-- #region dwoma sposobami - ukryte -->

<nb-card class="d-none">
  <nb-card-header>Tak jak w dokumentacji</nb-card-header>
  <nb-card-body>
    <div class="p-fluid p-formgrid p-grid">
      <div class="p-field p-col-3">
        <label>{{ 't_user-password-change.oldPassword' | translate }}</label>
        <input type="text" pInputText />
        <small>Enter your username to reset your password.</small>
      </div>
      <div class="p-field p-col-3">
        <label>{{ 't_user-password-change.oldPassword' | translate }}</label>
        <input type="text" pInputText />
      </div>
    </div>
    <div class="p-fluid p-formgrid p-grid">
      <div class="p-field p-col-3">
        <label>{{ 't_user-password-change.oldPassword' | translate }}</label>
        <input type="text" pInputText />
      </div>
    </div>

    <hr class="p-my-4" style="border-top: 2px solid red" />
    <h5>Prościej:</h5>

    <div class="row p-fluid">
      <div class="col-3">
        <label>{{ 't_user-password-change.newPassword' | translate }}</label>
        <input type="text" pInputText />
        <small>Enter your username to reset your password.</small>
      </div>
      <div class="col-3">
        <label>{{ 't_user-password-change.newPassword' | translate }}</label>
        <input type="text" pInputText />
      </div>
    </div>
    <div class="row p-fluid">
      <div class="col-3">
        <label>{{ 't_user-password-change.newPassword' | translate }}</label>
        <input type="text" pInputText />
      </div>
    </div>
  </nb-card-body>
  <nb-card-footer></nb-card-footer>
</nb-card>

<!-- #endregion dwoma sposobami -->

<form (ngSubmit)="onSubmit()" [formGroup]="changePasswordForm">
  <nb-card accent="info" class="col-6">
    <nb-card-header>Zmień hasło do konta</nb-card-header>

    <nb-card-body>
      <div class="row p-field p-fluid">
        <div class="col-4">
          <label>{{ 't_user-password-change.oldPassword' | translate }}</label>
          <div class="p-inputgroup">
            <input formControlName="old" [type]="showPassword ? 'text' : 'password'" pInputText />
            <button
              type="button"
              pButton
              pRipple
              [icon]="showPassword ? 'pi pi-eye' : 'pi pi-eye-slash'"
              styleClass="p-button-warn"
              (click)="showPassword = !showPassword"
            ></button>
          </div>
          <small *ngIf="c.old.touched && c.old.errors?.required" class="p-invalid">Wymagane</small>
        </div>
      </div>

      <div class="row p-field p-fluid">
        <div class="col-4">
          <label>{{ 't_user-password-change.newPassword' | translate }}</label>
          <input formControlName="newPass" [type]="showPassword ? 'text' : 'password'" pInputText />
          <small *ngIf="c.newPass.touched && c.newPass.errors?.required" class="p-error">Field is required</small>
        </div>
        <div class="col-4">
          <label>{{ 't_user-password-change.repeatNewPassword' | translate }}</label>
          <input formControlName="newRepeat" [type]="showPassword ? 'text' : 'password'" pInputText />
          <ng-container *ngIf="c.newRepeat.touched && c.newRepeat.invalid">
            <small *ngIf="c.newRepeat.errors?.required" class="p-invalid">Wymagane</small><br />
            <small *ngIf="c.newRepeat.errors?.equalTo" class="p-invalid">Hasła nie są takie same</small>
          </ng-container>
        </div>
      </div>
    </nb-card-body>

    <nb-card-footer>
      <button
        pButton
        pRipple
        type="submit"
        [label]="'_global.save' | translate"
        class="p-button-raised"
        [disabled]="changePasswordForm.invalid"
      ></button>
    </nb-card-footer>
  </nb-card>
</form>
