<h2 class="p-mb-5">FAQ</h2>

<button icon="pi pi-plus" pButton pRipple type="button" [label]="'Dodaj'" (click)="addFaq()" class="p-button-raised mb-3"></button>

<p-table
  #dt2
  [value]="FAQ_LIST_PL"
  dataKey="id"
  [style]="{ 'max-width': '1200px' }"
  [rows]="10"
  [showCurrentPageReport]="true"
  [rowsPerPageOptions]="[10, 25, 50]"
  [loading]="loading"
  [paginator]="FAQ_LIST_PL?.length > 10"
  [globalFilterFields]="['questionId', 'title', 'body']"
>
  <ng-template pTemplate="caption">
    <div class="p-d-flex">
      <span class="p-input-icon-left p-ml-auto">
        <i class="pi pi-search"></i>
        <input pInputText type="text" (input)="dt2.filterGlobal($event.target.value, 'contains')" placeholder="Wyszukaj" />
      </span>
    </div>
  </ng-template>

  <ng-template pTemplate="header">
    <tr>
      <th style="width: 70px">Id</th>
      <th>Tytuł</th>
      <th>Treść</th>
      <th style="width: 130px">Język</th>
      <th style="width: 115px"></th>
    </tr>
    <tr>
      <th colspan="3"></th>
      <th>
        <p-columnFilter field="lang" matchMode="in" [showMenu]="false">
          <ng-template pTemplate="filter" let-value let-filter="filterCallback">
            <p-multiSelect [options]="languageList" placeholder="Any" (onChange)="filter($event.value)" ngDefaultControl>
              <ng-template let-option pTemplate="item">
                <div class="p-multiselect-representative-option">
                  <span class="p-ml-1">{{ option }}</span>
                </div>
              </ng-template>
            </p-multiSelect>
          </ng-template>
        </p-columnFilter>
      </th>
      <th></th>
    </tr>
  </ng-template>

  <ng-template pTemplate="body" let-value>
    <tr>
      <td>{{ value.questionId }}</td>
      <td>{{ value.title }}</td>
      <td class="text-ellipsis">{{ value.body }}</td>
      <td>{{ value.lang }}</td>
      <td>
        <button pButton pRipple icon="fas fa-pen" class="p-button-rounded" type="button" (click)="onEdit(value)"></button>
        <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-warning" (click)="onDelete(value.questionId)"></button>
      </td>
    </tr>
  </ng-template>

  <ng-template pTemplate="emptymessage">
    <tr>
      <td colspan="5">Nie znaleziono.</td>
    </tr>
  </ng-template>
</p-table>

<!-- #region dialog -->

<p-dialog [(visible)]="displayDialog" [modal]="true" [style]="{ width: '50vw' }" [maximizable]="true" [draggable]="false" [resizable]="false">
  <ng-template pTemplate="header">Edytuj pytania </ng-template>

  <p-confirmPopup></p-confirmPopup>
  <p-tabView [(activeIndex)]="activeIndex" (onChange)="handleChangeTab($event)">
    <p-tabPanel [header]="item.header" *ngFor="let item of items; let i = index" [selected]="i == 0">
      <!-- #region form -->

      <form [formGroup]="faqForm">
        <div class="p-field">
          <span class="mr-3">questionId: {{ faqForm.controls.questionId.value }},</span>
          <span class="mr-3">id: {{ faqForm.controls.id.value }}</span>
        </div>
        <div class="p-field p-fluid">
          <label>Treść pytania</label>
          <input formControlName="title" class="p-inputtext" pInputText />
        </div>
        <div class="p-field p-fluid">
          <label>Treść odpowiedzi</label>
          <p-editor formControlName="body"></p-editor>
        </div>
      </form>

      <!-- #endregion form -->
    </p-tabPanel>
  </p-tabView>

  <ng-template pTemplate="footer">
    <p-button icon="pi pi-times" (click)="displayDialog = false" label="Anuluj" styleClass="p-button-text"> </p-button>
    <button
      icon="pi pi-check"
      pButton
      pRipple
      (click)="updateFAQ()"
      label="Zapisz"
      [disabled]="faqForm.pristine || faqForm.invalid"
      class="p-button-raised float-right"
    ></button>
  </ng-template>
</p-dialog>

<!-- #endregion dialog -->
